@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body{
    font-family: "poppins", sans-serif;
    background-color:#222;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:100vh;

}

.cards{
    display:flex;
    flex-direction:row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width:calc(100% - 100px);
    height:400px;
}

.card{
    flex-grow:1;
    position:relative;
    overflow:hidden;
    min-width:64px;
    margin:10px;
    background:var(--cardBackground, var(--defaultBackground,#f0f));
    background-size:auto 120%;
    background-position:center;
    cursor:pointer;
    transition:0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    border-radius: 35px;
}
.card.active{
    flex-grow:1000;
    transform: scale(1);
    max-width:600px;
    margin:0px;
    background-size:auto 100%;
    border:5px solid #fff;
    transition:0.5s ease-in;
}

.card .label{
    display:flex;
    position:absolute;
    bottom:15px;
    left:14px;
    height:40px;
    transition:0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.card.active .label{
    bottom:20px;
}

.label .icon{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    min-width:40px;
    max-width:40px;
    height:40px;
    border-radius:100%;
    background:#fff;
    color: var(--defaultBackground,  #000);
}
.label .info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
    color:#fff;
    white-space: pre;
}

.label .info > div{
    position:relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.label .info .main{
    font-weight:normal;
    font-size:1rem;
    text-transform: uppercase;
    margin-bottom:3px;
}
.label .info .sub{
    transition-delay: 0.8s;
    font-size:0.8rem;

}

.card:nth-child(1) {
    --defaultBackground:rgb(255, 55, 0);
}
.card:nth-child(2) {
    --defaultBackground:rgb(73, 223, 31);
}
.card:nth-child(3) {
    --defaultBackground:rgb(27, 126, 212);
}
.card:nth-child(4) {
    --defaultBackground:rgb(80, 40, 198);
}
.card:nth-child(5) {
    --defaultBackground:rgb(211, 208, 37);
}
.card:nth-child(6) {
    --defaultBackground:rgb(199, 35, 92);
}

@media screen and (max-width: 718px) {
    .cards{
        min-width: 520px;
    }
    .card:nth-child(5) {
        display:none;
    }
}

@media screen and (max-width: 638px) {
    .cards{
        min-width: 440px;
    }
    .card:nth-child(4) {
        display:none;
    }
}